body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 11% ;

}
.btn-container1{
    display: flex;
    justify-content: space-around;
}
.btn-alt{
    border-radius: 18px;
    font-size: 23px;
    font-weight: 500;
}
button{
    height: 75px;
    width: 230px;
    border-radius: 8px;
    border: none;
   
}
/* .btn-container2{
    display: flex;
    justify-content: end;
} */
