
body{
  background-image: linear-gradient(45deg , #56BCDF 0%, #2596be 51%, #56BCDF 100%);
  /* animation: gradient 10s ease infinite; */
  background-size: 200% 200%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.loginSignup-container{
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}
.text-link{
  font-size: 15px;
  font-weight: 500;
}
.vertical-center{
  margin: 35px 0px;
}
.form-group{
  margin-top: -10px;
}
#login-err-msg, #signup-err-msg{
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  margin-top: -18px;
  padding: 0px 46px;
}
.input-field{
  width: 100%;
  margin-top: 7px;
  height: 36px;
  border: 2.5px solid rgb(108 117 125);
  color: rgb(108 117 125);
  border-radius: 2px;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
  padding: 0px 48px 0px 48px;
}
input::placeholder{
  font-weight: 400;
  color: rgb(108 117 125);
  font-size: 14px;
}
.material-symbols-outlined{
  color: rgb(108 117 125);
  position: relative;
  top: 3px;
  margin-left: 5px;
  font-size: 20px;
}
.icon-container{
  width: 36px;
  position: relative;
  bottom: 34px;
  left: 2px;
  cursor: default;
}
#float-right{
  float: right;
  position: relative;
  bottom: 67px;
  font-size: 24px;
  color: rgb(108 117 125);
}
label{
  font-size: 14px;
}
.forgot-password{
  margin-top: -27px;
}
.login-btn{
  width: 100%;
  border: none;
  border-radius: 18px;
  height: 42px;
  font-size: 20px;
  font-weight: 500;
}
.signup-container{
  /* border: 1px solid; */
  margin-top: 35px;
  text-align: center;
  font-size: 14px;
  line-height: 2.2;
}
